<div class="background"></div>
<a class="rank">排行榜</a>
<div class="ranking-list" *ngFor="let player of guestService.info">
  <p>位序: {{player.id}}  姓名: {{player.name}}  点数:{{player.point}}  等级:{{player.level}}</p>
</div>
<div class="roll">

<a class="throw" (click)="game()">
  <img src="/assets/img/roll.png" />
</a>

<a class="complete" (click)="complete()">
  <img src="/assets/img/confirm.png" />
</a>
</div>

<!-- background -->
<img class="bowl" src="/assets/img/bowl.png" width="530px" height="530px">
<!--  -->

<div class="dices1">
<img [src]="'/assets/img/' + dice[0] + '.png'" width="100" height="100">
</div>
<div class="dices2">
<img [src]="'/assets/img/' + dice[1] + '.png'" width="100" height="100">
</div>
<div class="dices3">
<img [src]="'/assets/img/' + dice[2] + '.png'" width="100" height="100">
</div>
<div class="dices4">
<img [src]="'/assets/img/' + dice[3] + '.png'" width="100" height="100">
</div>
<div class="dices5">
<img [src]="'/assets/img/' + dice[4] + '.png'" width="100" height="100">
</div>
<div class="dices6">
<img [src]="'/assets/img/' + dice[5] + '.png'" width="100" height="100">
</div>


<!-- <a class="button" routerLink="/ranking-list">排行榜</a> -->
<div class="currentPlayer">
当前玩家
<div>位序: {{currentPlayer.id}}</div>
<div>姓名: {{currentPlayer.name}}<div>
<div>点数: {{currentPlayer.point}}<div>
<div>等级: {{currentPlayer.level}}<div>
</div>
