<!-- <h2>Guests</h2>
<ul class="guests">
  <li *ngFor="let guest of guestService.info">
    <button [class.selected]="guest === selectedGuest" type="button" (click)="onSelect(guest)">
      <span class="badge">{{guest.id}}</span>
      <span class="name">{{guest.name}}</span>
    </button>
  </li>
</ul>

<div *ngIf="selectedGuest">
  <h2>{{selectedGuest.name | uppercase}} Details</h2>
  <div>id: {{selectedGuest.id}}</div>
  <div>
    <label for="guest-name">Guest name: </label>
    <input id="guest-name" [(ngModel)]="selectedGuest.name" placeholder="name">
  </div>
</div> -->
