* {
  color: #99ccff;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

input {
  font-size: 60px;
}

button {
  font-size: 60px;
  position: fixed;
  top:500px;
  bottom: 100px;
  /* right: 720px; */
  margin-left: 20%;
}

#firstname {
  font-size: 100px;
}

.name-input {
  margin-top: 10%;
  display: flex;
  width: 80%;
  justify-content: center;
  align-items: center;
}
